<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Index:</strong>
  <%= @blog.index %>
</p>

<p>
  <strong>New:</strong>
  <%= @blog.new %>
</p>

<p>
  <strong>Show:</strong>
  <%= @blog.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @blog.edit %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
